/*icones de apoio, adicionados os 20 primeiros, pois a sugestao do curso inclui muitos icones*/

.icone.apoio001{
    background-image: url(../images/icones-apoio/001-heart.png);
}
.icone.apoio002{
    background-image: url(../images/icones-apoio/002-earth\ day.png);
}
.icone.apoio003{
    background-image: url(../images/icones-apoio/003-save\ water.png);
}
.icone.apoio004{
    background-image: url(../images/icones-apoio/004-eco\ fuel.png);
}
.icone.apoio005{
    background-image: url(../images/icones-apoio/005-power\ socket.png);
}
.icone.apoio006{
    background-image: url(../images/icones-apoio/006-trees.png);
}
.icone.apoio007{
    background-image: url(../images/icones-apoio/007-save\ water.png);
}
.icone.apoio008{
    background-image: url(../images/icones-apoio/008-charging\ station.png);
}
.icone.apoio009{
    background-image: url(../images/icones-apoio/009-water\ cycle.png);
}
.icone.apoio010{
    background-image: url(../images/icones-apoio/010-plant.png);
}

.icone.apoio011{
    background-image: url(../images/icones-apoio/011-recycle.png);
}
.icone.apoio012{
    background-image: url(../images/icones-apoio/012-eco\ car.png);
}
.icone.apoio013{
    background-image: url(../images/icones-apoio/013-global\ warming.png);
}
.icone.apoio014{
    background-image: url(../images/icones-apoio/014-whale.png);
}
.icone.apoio015{
    background-image: url(../images/icones-apoio/015-solar\ panel.png);
}
.icone.apoio016{
    background-image: url(../images/icones-apoio/016-recycle\ bin.png);
}
.icone.apoio017{
    background-image: url(../images/icones-apoio/017-power\ plug.png);
}
.icone.apoio018{
    background-image: url(../images/icones-apoio/018-eco\ light.png);
}
.icone.apoio019{
    background-image: url(../images/icones-apoio/019-eco\ house.png);
}
.icone.apoio020{
    background-image: url(../images/icones-apoio/020-eco\ factory.png);
}

.icone.apoio021{
    background-image: url(../images/icones-apoio/021-eco\ bag.png);
}
.icone.apoio022{
    background-image: url(../images/icones-apoio/022-CO2\ cloud.png);
}
.icone.apoio023{
    background-image: url(../images/icones-apoio/023-oil\ barrel.png);
}
.icone.apoio024{
    background-image: url(../images/icones-apoio/024-flask.png);
}
.icone.apoio025{
    background-image: url(../images/icones-apoio/025-iceberg.png);
}
.icone.apoio026{
    background-image: url(../images/icones-apoio/026-think\ green.png);
}
.icone.apoio027{
    background-image: url(../images/icones-apoio/027-water\ energy.png);
}
.icone.apoio028{
    background-image: url(../images/icones-apoio/028-sustainable\ energy.png);
}
.icone.apoio029{
    background-image: url(../images/icones-apoio/029-plastic\ bag.png);
}
.icone.apoio030{
    background-image: url(../images/icones-apoio/030-rain.png);
}


.icone.apoio031{
    background-image: url(../images/icones-apoio/031-thermometer.png);
}
.icone.apoio032{
    background-image: url(../images/icones-apoio/032-pin.png);
}
.icone.apoio033{
    background-image: url(../images/icones-apoio/033-chat.png);
}
.icone.apoio034{
    background-image: url(../images/icones-apoio/034-shield.png);
}
.icone.apoio035{
    background-image: url(../images/icones-apoio/035-earth.png);
}
.icone.apoio036{
    background-image: url(../images/icones-apoio/036-battery.png);
}
.icone.apoio037{
    background-image: url(../images/icones-apoio/037-earth.png);
}
.icone.apoio038{
    background-image: url(../images/icones-apoio/038-magnifying\ glass.png);
}
.icone.apoio039{
    background-image: url(../images/icones-apoio/039-flower.png);
}
.icone.apoio040{
    background-image: url(../images/icones-apoio/040-nuclear\ energy.png);
}

.icone.apoio041{
    background-image: url(../images/icones-apoio/041-car\ battery.png);
}
.icone.apoio042{
    background-image: url(../images/icones-apoio/042-bicycle.png);
}
.icone.apoio043{
    background-image: url(../images/icones-apoio/043-tshirt.png);
}
.icone.apoio044{
    background-image: url(../images/icones-apoio/044-box.png);
}

.icone.apoio045{
    background-image: url(../images/icones-apoio/045-fertilizer.png);
}

.icone.apoio045{
    background-image: url(../images/icones-apoio/046-wind\ turbine.png);
}



